{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gift ideas</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
</head>
<body>
    <!-- header page start -->
    <header>
        <div class="navbar">
            <section class="flex">
                <a href="{% url 'index' %}" class="logo">elite events<span>.</span></a>
                <nav>
                    <li><a href="{% url 'index' %}">home</a></li>
                    <li><a href="{% url 'news' %}">news</a></li>
                    <li><a href="{% url 'fashion' %}">fashion</a></li>
                    <li><a href="{% url 'ideas' %}">gallery</a></li>
                    <li><a href="{% url 'gifts' %}">GIFTS</a></li>
                    <li><a href="{% url 'about' %}">about</a></li>
                    <li><a href="{% url 'contact' %}">contact</a></li>
                </nav>
                <form class="search-form">
                    <input type="text" placeholder="search here..." required maxlength="100" name="search_box">
                    <button type="submit" class="fas fa-search" name="search_btn"></button>
                </form>
                
                <div class="icons">
                    <div id="user-btn" class="fas fa-user"></div>
                    <div id="toggle-btn" class="fas fa-sun"></div>
                </div>
        </div>
        <div class="header_title contact-header-title">
            <h1>gift ideas</h1>
            <p><span>home</span> > REGISTRY & GIFTS  GIFT IDEAS</p>
        </div>
    </header>
    <!-- header page end -->
    
    
    <!-- gift ideas page start -->
    <header class="gift-ideas">
        <h1 class="title">Gift ideas<span>.</span></h1>
        <div class="news-order">
            <div class="news-order-div">
                <div class="img-container">
                    <img src="{% static 'img/albem.webp' %}" alt="">
                </div>
                <div class="discription">
                    <span class="job-field">WEDDING PHOTOGRAPHY || 02/24/23</span>
                    <a href="gifts.html" class="about">The 5 Best Budget-Friendly Wedding Photo Albums on Amazon</a>
                </div>
            </div>
            <div class="news-order-div">
                <div class="img-container">
                    <img src="{% static 'img/gift1.webp' %}" alt="">
                </div>
                <div class="discription">
                    <span class="job-field">gift ideas || 02/25/23</span>
                    <a href="gifts.html" class="about">The 37 Best Gifts for Your Boyfriend That He’ll Love (and Use)</a>
                </div>
            </div>
            <div class="news-order-div">
                <div class="img-container">
                    <img src="{% static 'img/wedding gift.webp' %}" alt="">
                </div>
                <div class="discription">
                    <span class="job-field">gift ideas || 01/05/23</span>
                    <a href="{% url 'gifts' %}" class="about">Wedding Gift Etiquette and Ideas for a Second Marriage</a>
                </div>
            </div>
            <div class="news-order-div">
                <div class="img-container">
                    <img src="{% static 'img/albem.webp' %}" alt="">
                </div>
                <div class="discription">
                    <span class="job-field">WEDDING PHOTOGRAPHY || 02/24/23</span>
                    <a href="{% url 'gifts' %}" class="about">The 5 Best Budget-Friendly Wedding Photo Albums on Amazon</a>
                </div>
            </div>
            <div class="news-order-div">
                <div class="img-container">
                    <img src="{% static 'img/gift1.webp' %}" alt="">
                </div>
                <div class="discription">
                    <span class="job-field">gift ideas || 02/25/23</span>
                    <a href="{% url 'gifts' %}" class="about">The 37 Best Gifts for Your Boyfriend That He’ll Love (and Use)</a>
                </div>
            </div>
            <div class="news-order-div">
                <div class="img-container">
                    <img src="{% static 'img/wedding gift.webp' %}" alt="">
                </div>
                <div class="discription">
                    <span class="job-field">gift ideas || 01/05/23</span>
                    <a href="{% url 'gifts' %}" class="about">Wedding Gift Etiquette and Ideas for a Second Marriage</a>
                </div>
            </div>
            <div class="news-order-div">
                <div class="img-container">
                    <img src="img/albem.webp" alt="">
                </div>
                <div class="discription">
                    <span class="job-field">WEDDING PHOTOGRAPHY || 02/24/23</span>
                    <a href="{% url 'gifts' %}" class="about">The 5 Best Budget-Friendly Wedding Photo Albums on Amazon</a>
                </div>
            </div>
            <div class="news-order-div">
                <div class="img-container">
                    <img src="{% static 'img/gift1.webp' %}" alt="">
                </div>
                <div class="discription">
                    <span class="job-field">gift ideas || 02/25/23</span>
                    <a href="{% url 'gifts' %}" class="about">The 37 Best Gifts for Your Boyfriend That He’ll Love (and Use)</a>
                </div>
            </div>
            <div class="news-order-div">
                <div class="img-container">
                    <img src="{% static 'img/wedding gift.webp' %}" alt="">
                </div>
                <div class="discription">
                    <span class="job-field">gift ideas || 01/05/23</span>
                    <a href="{% url 'gifts' %}" class="about">Wedding Gift Etiquette and Ideas for a Second Marriage</a>
                </div>
            </div>
            <div class="news-order-div">
                <div class="img-container">
                    <img src="{% static 'img/albem.webp' %}" alt="">
                </div>
                <div class="discription">
                    <span class="job-field">WEDDING PHOTOGRAPHY || 02/24/23</span>
                    <a href="{% url 'gifts' %}" class="about">The 5 Best Budget-Friendly Wedding Photo Albums on Amazon</a>
                </div>
            </div>
            <div class="news-order-div">
                <div class="img-container">
                    <img src="{% static 'img/gift1.webp' %}" alt="">
                </div>
                <div class="discription">
                    <span class="job-field">gift ideas || 02/25/23</span>
                    <a href="{% url 'gifts' %}" class="about">The 37 Best Gifts for Your Boyfriend That He’ll Love (and Use)</a>
                </div>
            </div>
            <div class="news-order-div">
                <div class="img-container">
                    <img src="{% static 'img/wedding gift.webp' %}" alt="">
                </div>
                <div class="discription">
                    <span class="job-field">gift ideas || 01/05/23</span>
                    <a href="{% url 'gifts' %}" class="about">Wedding Gift Etiquette and Ideas for a Second Marriage</a>
                </div>
            </div>
            <div class="news-order-div">
                <div class="img-container">
                    <img src="{% static 'img/albem.webp' %}" alt="">
                </div>
                <div class="discription">
                    <span class="job-field">WEDDING PHOTOGRAPHY || 02/24/23</span>
                    <a href="{% url 'gifts' %}" class="about">The 5 Best Budget-Friendly Wedding Photo Albums on Amazon</a>
                </div>
            </div>
            <div class="news-order-div">
                <div class="img-container">
                    <img src="{% static 'img/gift1.webp' %}" alt="">
                </div>
                <div class="discription">
                    <span class="job-field">gift ideas || 02/25/23</span>
                    <a href="{% url 'gifts' %}" class="about">The 37 Best Gifts for Your Boyfriend That He’ll Love (and Use)</a>
                </div>
            </div>
            <div class="news-order-div">
                <div class="img-container">
                    <img src="{% static 'img/wedding gift.webp' %}" alt="">
                </div>
                <div class="discription">
                    <span class="job-field">gift ideas || 01/05/23</span>
                    <a href="{% url 'gifts' %}" class="about">Wedding Gift Etiquette and Ideas for a Second Marriage</a>
                </div>
            </div>
        </div>
        <div class="news-btn">
            <a href="{% url 'gifts' %}" class="btn">SEE more gift's</a>
        </div>
    </header>
    <!-- gift ideas page start -->






     <!-- footer page start -->
     <footer>
        <div class="follwer-viwe">
            <li><a href="#"><i class="fab fa-facebook"></i> 3.7M </a></li>
            <li>||</li>
            <li><a href="#"><i class="fa-brands fa-instagram"></i> 1.3M</a></li>
            <li>||</li>
            <li><a href="#"><i class="fa-brands fa-twitter"></i> 195K</a></li>
            <li>||</li>
            <li><a href="#"><i class="fab fa-tiktok"></i> 666K</a></li>
            <li>||</li>
            <li><a href="#"><i class="fa-regular fa-envelope"></i> SUBSCRIBE</a></li>
            <span class="separat-line"></span>
        </div>

        <div class="box-container">
            <div class="login">
                <li><a href="{% url 'index' %}">ELITE EVENTS.</a></li>
                <li><h4>sign up for the brides newsletter</h4></li>
                <form method="post" action="#">
                    <input type="email" name="subscriber_email" placeholder="you@example.com" required>
                    <input type="submit" value="SUBSCRIBE" class="btn-white">
                </form>
                <div class="icons">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-whatsapp"></i>
                    <i class="fa-brands fa-pinterest"></i>
                    <i class="fab fa-tiktok"></i>
                </div>
            </div>

            <ul class="Quick-link">
                <h3>Quick link</h3>
                <li><a href="{% url 'news' %}">news</a></li>
                <li><a href="{% url 'fashion' %}">fashion</a></li>
                <li><a href="{% url 'ideas' %}">ideas</a></li>
                <li><a href="{% url 'gifts' %}">REGISTRY & GIFTS</a></li>
            </ul>
            <ul class="about">
                <h3>ABOUT US</h3>
                <li><a href="{% url 'about' %}">ABOUT US</a></li>
                <li><a href="#">ADVERTISE</a></li>
                <li><a href="#">TERMS OF USE</a></li>
                <li><a href="#">EDITORIAL POLICY</a></li>
            </ul>
            <ul class="POLICY">
                <h3>POLICY</h3>
                <li><a href="#">PRIVACY POLICY</a></li>
                <li><a href="{% url 'contact' %}">CONTACT</a></li>
                <li><a href="#">DO NOT SELL MY <br>PERSONAL INFORMATION</a></li>
            </ul>
        </div>
    </footer>
    <!-- footer page end -->
</body>
</html>