{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>more about us</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
</head>
<body>
    <!-- header page start -->
    <header>
        <div class="navbar">
            <section class="flex">
                <a href="{% url 'index' %}" class="logo">elite events<span>.</span></a>
                <nav>
                    <li><a href="{% url 'index' %}">home</a></li>
                    <li><a href="{% url 'news' %}">news</a></li>
                    <li><a href="{% url 'fashion' %}">fashion</a></li>
                    <li><a href="{% url 'ideas' %}">gallery</a></li>
                    <li><a href="{% url 'gifts' %}">GIFTS</a></li>
                    <li><a href="{% url 'about' %}">about</a></li>
                    <li><a href="{% url 'contact' %}">contact</a></li>
                </nav>
                <form class="search-form">
                    <input type="text" placeholder="search here..." required maxlength="100" name="search_box">
                    <button type="submit" class="fas fa-search" name="search_btn"></button>
                </form>
                
                <div class="icons">
                    <div id="user-btn" class="fas fa-user"></div>
                    <div id="toggle-btn" class="fas fa-sun"></div>
                </div>
        </div>
        <div class="header_title contact-header-title">
            <h1>about us</h1>
            <p><span>home</span> > about us</p>
        </div>
    </header>
    <!-- header page end -->
    
    
    <!-- about-us start -->
    <header id="about-us">
        <h1 class="title">about us<span>.</span></h1>
        <div class="about-us-flex">
            <img src="{% static 'img/Elspeth-Velten.jpg' %}" alt="">
            <div class="about-us-title">
                <h1 class="about">Elspeth Velten</h1>
                <span class="job-field">Associate Group General Manager</span>
                <p class="about-title">
                    Elspeth has been with Dotdash Meredith since 2016.
                    Before joining Brides, Elspeth spent time in the travel world as a founding editor of TripSavvy, Dotdash Meredith’s travel brand, and editor at Luxury Escapes, an Australian eCommerce site based in Melbourne. Elspeth landed in the fashion closet at Time Inc...
                </p>
                <button class="btn">READ MORE</button>
            </div>
        </div>
        <div class="about-us-flex">
            <img src="{% static 'img/leta-shy.jpg' %}" alt="">
            <div class="about-us-title">
                <h1 class="about">leta shy</h1>
                <span class="job-field">the founder of organization</span>
                <p class="about-title">
                    Elspeth has been with Dotdash Meredith since 2016.
                    Before joining Brides, Elspeth spent time in the travel world as a founding editor of TripSavvy, Dotdash Meredith’s travel brand, and editor at Luxury Escapes, an Australian eCommerce site based in Melbourne. Elspeth landed in the fashion closet at Time Inc...
                </p>
                <button class="btn">READ MORE</button>
            </div>
        </div>
    </header>
    <!-- about-us end -->


    <!-- news page start -->
    <header id="News">
        <h1 class="title">our services<span>.</span></h1>

        <div class="news-order">
            <div class="news-order-div">
                <div class="news-img">
                    <img src="{% static 'img/table_s.jpg' %}" alt="">
                </div>
                <h1 class="about">example discription</h1>
                <button class="btn">read detail</button>
            </div>
            <div class="news-order-div">
                <div class="news-img">
                    <img src="{% static 'img/bars.jpg' %}" alt="">
                </div>
                <h1 class="about">example discription</h1>
                <button class="btn">read detail</button>
            </div>
            <div class="news-order-div">
                <div class="news-img">
                    <img src="{% static 'img/Ceremony.jpg' %}" alt="">
                </div>
                <h1 class="about">example discription</h1>
                <button class="btn">read detail</button>
            </div>
            <div class="news-order-div">
                <div class="news-img">
                    <img src="{% static 'img/photo_2023-02-24_12-13-46.jpg' %}" alt="">
                </div>
                <h1 class="about">example discription</h1>
                <button class="btn">read detail</button>
            </div>
            <div class="news-order-div">
                <div class="news-img">
                    <img src="{% static 'img/photo_2023-03-19_21-30-17.jpg' %}" alt="">
                </div>
                <h1 class="about">example discription</h1>
                <button class="btn">read detail</button>
            </div>
            <div class="news-order-div">
                <div class="news-img">
                    <img src="{% static 'img/reception.jpg' %}" alt="">
                </div>
                <h1 class="about">example discription</h1>
                <button class="btn">read detail</button>
            </div>
            <div class="news-order-div">
                <div class="news-img">
                    <img src="{% static 'img/couple.jpg' %}" alt="">
                </div>
                <h1 class="about">example discription</h1>
                <button class="btn">read detail</button>
            </div>
            <div class="news-order-div">
                <div class="news-img">
                    <img src="{% static 'img/Building.jpg' %}" alt="">
                </div>
                <h1 class="about">example discription</h1>
                <button class="btn">read detail</button>
            </div>
            <div class="news-order-div">
                <div class="news-img">
                    <img src="{% static 'img/event1.jpg' %}" alt="">
                </div>
                <h1 class="about">example discription</h1>
                <button class="btn">read detail</button>
            </div>
    </header>
    <!-- news page end -->


     <!-- footer page start -->
     <footer>
        <div class="follwer-viwe">
            <li><a href="#"><i class="fab fa-facebook"></i> 3.7M </a></li>
            <li>||</li>
            <li><a href="#"><i class="fa-brands fa-instagram"></i> 1.3M</a></li>
            <li>||</li>
            <li><a href="#"><i class="fa-brands fa-twitter"></i> 195K</a></li>
            <li>||</li>
            <li><a href="#"><i class="fab fa-tiktok"></i> 666K</a></li>
            <li>||</li>
            <li><a href="#"><i class="fa-regular fa-envelope"></i> SUBSCRIBE</a></li>
            <span class="separat-line"></span>
        </div>

        <div class="box-container">
            <div class="login">
                <li><a href="{% url 'index' %}">ELITE EVENTS.</a></li>
                <li><h4>sign up for the brides newsletter</h4></li>
                <form action="">
                    <input type="email" name="email" placeholder="you@example.com" required>
                    <input type="submit" value="SUBSCRIBE" class="btn-white">
                </form>
                <div class="icons">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-whatsapp"></i>
                    <i class="fa-brands fa-pinterest"></i>
                    <i class="fab fa-tiktok"></i>
                </div>
            </div>

            <ul class="Quick-link">
                <h3>Quick link</h3>
                <li><a href="{% url 'news' %}">news</a></li>
                <li><a href="{% url 'fashion' %}">fashion</a></li>
                <li><a href="{% url 'ideas' %}">ideas</a></li>
                <li><a href="{% url 'gifts' %}">GIFTS</a></li>
            </ul>
            <ul class="about">
                <h3>ABOUT US</h3>
                <li><a href="{% url 'about' %}">ABOUT US</a></li>
                <li><a href="#">ADVERTISE</a></li>
                <li><a href="#">TERMS OF USE</a></li>
                <li><a href="#">EDITORIAL POLICY</a></li>
            </ul>
            <ul class="POLICY">
                <h3>POLICY</h3>
                <li><a href="#">PRIVACY POLICY</a></li>
                <li><a href="{% url 'contact' %}">CONTACT</a></li>
                <li><a href="#">DO NOT SELL MY <br>PERSONAL INFORMATION</a></li>
            </ul>
        </div>
    </footer>
    <!-- footer page end -->
</body>
</html>